<div id="content">
  <h1 id="h1">Compre o Curso de Programação Web Developer 2022</h1>
  <h2 id="h2">Invista em seus conhecimentos e ganha qualidade de vida para você e para sua familia.</h2>
  <a id="button" href="#">Comprar</a>
</div>
