<!DOCTYPE html>
<html>
  <head>
    <title>RailsRuby3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div>
      <nav>
        <li>
          <a href="#">Principal</a>          
          <a href="#">Seja aluno</a>
          <a href="#">Cursos</a>
          <a href="#">Preço</a>
          <a href="#">Contato</a>
        </li>
      </nav>
    </div>
    <%= yield %>
  </body>

  <script>
    function typeWrite(elemento) {
      const textArray = elemento.innerHTML.split('');
      elemento.innerHTML = ' ';
      textArray.forEach(function(letra, i){
        setTimeout(function(){
          elemento.innerHTML += letra;
        }, 75 * i);
      });
    }

    const title = document.querySelector(`#h2`);
    typeWrite(title);
  </script>
</html>
